<div class="about-div">
  <div class="about-pp-div" data-aos="zoom-in">
    <div class="rounded-container">
      <img
        src="assets/profile.jpeg"
        alt="Your Image"
        class="rounded-image"
      />
    </div>
  </div>
  <div class="about-content-div">
    <div data-aos="fade-left" class="title-text glowing-text">About Me</div>
    <br />
    <div style="font-size: 1.5em; font-weight: bold" data-aos="fade-right">
      Aspiring AI-Driven Problem Solver!
    </div>
    <br />
    <div style="font-size: 1em" data-aos="fade-up">
      I am a final-year B.Tech student specializing in Artificial Intelligence and Machine Learning at R.M.D. 
      Engineering College, passionate about leveraging technology to solve real-world problems. Beyond academics, 
      I enjoy exploring AI, Machine Learning, and emerging technologies through hands-on projects and continuous learning. 
      I thrive in challenging environments that encourage innovation and help me expand my technical knowledge. 
      Through my internship experience and project work, I have developed a strong problem-solving mindset and a keen interest in
       building intelligent solutions that create meaningful impact. Alongside technology, I value physical and mental well-being,
        believing that discipline, teamwork, and resilience are essential for both personal and professional growth.
         As an aspiring AI and Machine Learning professional, I am eager to learn, collaborate, and contribute to innovative
          solutions that shape the future.

    </div>
  </div>
</div>
