<div>
  <a
    href="https://www.facebook.com/profile.php?id=61590460930655"
    class="icon-button facebook"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-facebook"></i><span></span
  ></a>
  <a
    href="https://www.instagram.com/raji_lakshmi_05/"
    class="icon-button instagram"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-instagram"></i><span></span
  ></a>
  <a
    href="https://x.com/Rajii_1507"
    class="icon-button twitter"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-twitter"></i><span></span
  ></a>
  <a
    href="https://www.linkedin.com/in/rajalakshmi-durai-5a3353296/?skipRedirect=true"
    class="icon-button linkedin"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-linkedin"></i><span></span
  ></a>
  <a
    href="https://github.com/RajalakshmiDurai"
    class="icon-button github"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fab fa-github"></i><span></span
  ></a>
  <a
    href="mailto: rajalakshmi150705@gmail.com"
    class="icon-button mail"
    data-aos="zoom-in"
    target="_blank"
    ><i class="fas fa-envelope"></i><span></span
  ></a>
</div>
