<div class="home-div">
  <div class="intro-div">
    <div style="font-size: 2.5em" data-aos="fade-up">Hello, It's Me</div>
    <div style="font-size: 4em" data-aos="fade-left">RajaLakshmi</div>
    <div style="font-size: 2em" data-aos="fade-right">
      I am a <span class="full-stack"> </span>
    </div>
    <br />
    <div style="font-size: 1em" data-aos="fade-down">
      As a passionate and curious Artificial Intelligence and Machine Learning enthusiast, 
      I specialize in exploring intelligent systems and building solutions that address real-world problems. 
      My journey in technology began with a strong interest in how machines can learn, adapt, and make decisions, 
      which led me to develop a solid foundation in AI, ML, and software development. I enjoy working on deep learning and 
      application-based projects that combine innovation with practical impact. I am driven by continuous learning and thrive in
       environments that challenge me to explore new technologies, tools, 
      and methodologies in the rapidly evolving field of Artificial Intelligence.
    </div>
    <br />
    <br />
    <app-social></app-social>
  </div>
  <div class="intro-pp-div" data-aos="zoom-in">
    <div class="rounded-container">
      <img
        src="assets/profile.jpeg"
        alt="Your Image"
        class="rounded-image"
      />
    </div>
  </div>
</div>
